.copyright
  a(href='http://globalbit.co.il/', target='_blank')
    img(src=(whiteLogo ? '/images/globalbit-logo-white.svg' : '/images/globalbit-logo.svg'), alt='Globalbit')

script(src='/js/lib/jquery-3.1.1.min.js')
script(src='/js/lib/bootstrap.min.js')
script(src='/js/main.js')