.logo {
  margin: 12px;
  text-align: center;

  img {
    width: 40px;
  }
}

h1.intro {
  text-align: center;
  .username {
    color: #4481ff;
  }
}

.post-container {
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
  border: 1px solid #e7e7e7;
  padding: 8px;

  .user-details {
    .profile-picture {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin: 8px;
    }

    .username {
      color: gray;
    }
  }

  h2.question-title {
    margin: 0 0 12px;
    padding: 0;
    font-size: 13pt;
  }

  .question-image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .images-poll {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 50%;
        padding: 2px;
        float: left;

        img.image-option {
          width: 100%;
        }

        .image-caption {
          position: relative;
          background-color: rgba(0,0,0,.5);
          color: #FFF;
          margin-top: -27px;
          font-size: 10pt;
          padding: 4px 8px;
        }
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }

  .text-poll {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 2px 0;

        .text-option {
          border-radius: 2px;
          border: 1px solid #e7e7e7;
          padding: 8px 12px;
          color: #4481ff;
        }
      }
    }
  }

  .resolved {
    .icon {
      display: inline;

      img {
        width: 18px;
        margin: 8px;
      }
    }
  }

  .resolved-question {
    background-color: #e8e8e8;
    margin: 8px -8px;
    padding: 8px;

    .question {
      font-weight: bold;
    }

    .date {
      color: gray;
    }
  }

  .resolution {
    .text {
      margin: 8px 0;
    }

    .image {
      img {
        width: 100%;
      }
    }
  }
}

.download {
  text-align: center;

  h2.download-text {
    .app-name {
      color: red;
    }
  }

  .btn {
    &.android {
      background-color: #8cc152;
      color: #FFF;
    }
  }
}

.about-text {
  margin-top: 12px;
  font-size: 11pt;
  text-align: center;
  color: gray;
}