@import url('https://fonts.googleapis.com/css?family=Assistant:300,400&subset=hebrew');

$color__general: #8f9094;
$color__emphasis: #64baff;
$color__emphasis: #ff6b01;

$break_small: 721px;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Assistant', sans-serif;
  background-color: #16161a;
  margin: 0;
  padding: 16px;
  color: $color__general;
  font-weight: 300;
  font-size: 14px;
}

a {
  color: $color__emphasis;
}

img {
  vertical-align: middle;
}

h1 {
  text-align: center;
  margin: 0;
}

.content {
  padding: 24px 0;
}

.text-center {
  text-align: center;
}

.copyright {
  text-align: center;

  a {
    text-decoration: none;
    color: $color__general;
  }

  img {
    width: 140px;
    height: auto;
  }
}