//@import "lib/bootstrap/bootstrap";
//@import "lib/font-awesome/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

$color__general: #222730;
$color__emphasis: #64baff;

$break_small: 721px;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 50px 16px 30px;
  color: $color__general;
  font-weight: 300;

  @media screen and (max-width: $break_small) {
    padding: 16px 0 20px 0;
  }
}

img {
  vertical-align: middle;
}

.logo {
  text-align: center;

  .icon {
    img {
      width: 62px;
      height: auto;

      @media screen and (max-width: $break_small) {
        width: 54px;
      }
    }
  }
  .brand {
    padding: 11px 0;

    @media screen and (max-width: $break_small) {
      padding: 0;
    }

    img {
      width: 110px;
      height: auto;

      @media screen and (max-width: $break_small) {
        width: 78px;
      }
    }
  }
}


.download {
  margin-top: 40px;
  text-align: center;

  h2.download-text {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 300;

    .app-name {
      color: $color__emphasis;
      font-weight: 500;
    }
  }

  img.android {
    width: 135px;
    height: auto;
    border: 0;
  }
}

.about-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.copyright {
  margin-top: 50px;
  font-size: 13px;
  text-align: center;

  a {
    text-decoration: none;
    color: $color__general;
  }

  img {
    width: 69px;
    height: auto;
  }
}

@import "share";
@import "reset";
@import "messages";