@import url('https://fonts.googleapis.com/css?family=Assistant:300,400&subset=hebrew');

$color__general: #222730;
$color__emphasis: #ff6b01;

$break_small: 721px;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Assistant', sans-serif;
  margin: 0;
  padding: 70px 16px 30px;
  color: $color__general;
  font-weight: 300;

  @media screen and (max-width: $break_small) {
    padding: 16px 0 20px 0;
  }
}

img {
  vertical-align: middle;
}

.logo {
  text-align: center;

  .icon {
    img {
      width: 62px;
      height: auto;

      @media screen and (max-width: $break_small) {
        width: 54px;
      }
    }
  }
  .brand {
    padding: 11px 0;

    @media screen and (max-width: $break_small) {
      padding: 0;
    }

    img {
      width: 110px;
      height: auto;

      @media screen and (max-width: $break_small) {
        width: 78px;
      }
    }
  }
}


.download {
  margin-top: 40px;
  text-align: center;

  h2.download-text {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 300;

    .app-name {
      color: $color__emphasis;
    }


    @media screen and (max-width: $break_small) {
      font-size: 18px;
      width: 300px;
      margin: 0 auto 20px;
    }
  }

  img.android {
    width: 135px;
    height: auto;
    border: 0;
  }
}

.about-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.copyright {
  margin-top: 50px;
  font-size: 13px;
  text-align: center;

  a {
    text-decoration: none;
    color: $color__general;
  }

  img {
    width: 140px;
    height: auto;
  }
}

@import "share";
@import "reset";
@import "messages";
@import "https://cdn.plyr.io/3.2.1/plyr.css";

.plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
  background-color: $color__emphasis !important;
}
.plyr__progress--played, .plyr__volume--display,
.plyr--full-ui input[type=range] {
  color: $color__emphasis !important;
}

body.fullscreen .post-container .post .post-block video {
  width: inherit;
  height: inherit;
}