.success {
  h1 {
    text-align: center;
    color: #fe6b01;
    font-size: 18px;
    font-weight: 400;
  }
}

.error {
  h1 {
    text-align: center;
    color: #ed4c4c;
    font-size: 18px;
    font-weight: 300;
  }
}