body.share {
  background-color: #FFFFFF;

  h1.intro {
    text-align: center;
    font-size: 24px;
    margin: 8px 0 0;
    font-weight: 300;

    @media screen and (max-width: $break_small) {
      margin: 0;
      font-size: 18px;
    }

    .username {
      font-weight: 500;
      color: $color__emphasis;

      @media screen and (max-width: $break_small) {
        width: 54px;
      }
    }
  }

  .post-container {
    margin: 30px auto 0;
    width: 100%;
    max-width: 380px;
    position: relative;

    @media screen and (max-width: $break_small) {

    }

    .post {
      video {
        width: 100%;
        height: auto;
      }

      .creator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.3);
        padding: 8px;

        .thumbnail {
          display: inline-block;

          img {
            width: 45px;
            height: auto;
            border-radius: 100%;
          }
        }
        .username {
          color: #FFF;
          display: inline-block;
          font-size: 11pt;
          padding: 0 8px;
        }
      }
    }
  }

  .not-found {
    margin: 40px 0 70px;
    text-align: center;

    h1 {
      font-weight: 900;
      font-size: 48px;
      color: #e0e0e0;
      margin: 0;
    }

    img {
      width: 133px;
      margin-top: 10px;
    }
  }

  .plyr input[type="range"] {
    -webkit-appearance: none
  }
}