- var bodyClass="share";
include  ../partials/header

block content
    No content

.download
    h2.download-text Download <span class="app-name">#{process.env.APP_NAME}</span> to see more and create your own awesome videos

    a(href='https://play.google.com/store/apps/details?id=' + process.env.ANDROID_PACKAGE_NAME + '&hl=en', target='_block')
        img.android(src='/images/google-play.svg')

include ../partials/footer