p.text-center
    | CAKE was created to improve decisions easily and quickly.<br />
    | Sometimes we don’t know what to choose or what to do:

p.text-center(style='margin: 40px 0')
    | What shoes to buy?<br />
    | Where to go with friends?<br />
    | Which movie to watch?<br />
    | Should I go with white jeans or the blue jeans?<br />

p In CAKE you can ask an open Question, or create a Poll and immediately get the right answer from users or friends.

p If you sometimes don’t know what to do, what to buy or what to choose, CAKE is the app for you.

p Sometimes even after we choose, we don’t feel satisfied with our choice  because we don’t know whether  we made the right decision. Now we can be wiser, choose better and feel better. We can also help our friends

br
br

p.text-center If you don’t ask, you will never know…
p.text-center
    | 🤘
    |
    | CAKE
    |
    | 🍰
