p
    b 1.1.2018

h1 Welcome to <b>CAKE</b>.

p <b>CAKE</b> offers a rapid and friendly way for decision making. Together is better! Simply share your dilemma and earn a wiser and more enjoyable choice.
p Our privacy policy explains how we collect information and use it wisely. We have done our best to explain the details in the easiest way possible.
p By using the privacy policy you certify that you understand and accept that the content you publish is public. This means that other users are allowed to see, search, use and share any piece of content that you have readily made available to the public.
p Our policy applies to all site users, visitors and anyone who uses our services.

h2 We collect information in a number of ways:
ul
    li During registration to the <b>CAKE</b> app we collect your user name, password and email.
    li Other profile details you indicated, such as phone number, profile photo and contacts.
    li Any user content you published, for instance, questions, decisions {cake it}, photos, comments and other material you post.
    li We gather up info regarding your various votes in the app.

h2 Searching for friends/users:
ul
    li If you choose to find your friends via your device’s contact list, <b>CAKE</b> will access the list to check whether any of your contacts uses the app.
    li If you choose to find your friends via the app’s user list, type in the user name you wish to find and we will run the search.
    li If you wish to invite friends or post a question to a friend who doesn’t have the app, you may locate him in your contact list and send him/she a text message or an email.  You hereby confirm that you are responsible for all payments that might rise as a result of communicating via your device. Moreover, you are the exclusive person responsible for such commitment. <b>CAKE</b> has no access to this kind of external communication and doesn’t monitor it.

h2 Distributing a question:
p It is possible to distribute a question to one who doesn’t own an Android device by posting a question on the <u>web page</u> using sms messaging or an email. You declare exclusive responsibility to any payments that my rise following such device commitment.

h2 What do we use your information for?
ul
    li to remember info so that you won’t need to keep re-typing it each time you enter the app.
    li To be able to utilize and improve our service.
    li To check and develop new features.
    li To survey app’s activity including the number of visitors.
    li To diagnose and solve technical problems.

h2 Sharing your info
p We will not sell your info without your consent, and we will never perform any illegal actions with your info.
ul
    li We might share your info with third party organizations that assist us in providing you with service – “service providers”. These providers will receive the necessary info needed by them to provide you with service, under reasonable terms of confidentiality.
    li We may remove identifying details of you and share anonymous info with others. In addition, we might combine your info with other info in a way that will not reveal your identity and then share the cumulative info.

h2 With whom is the info likely to be shared?
ul
    li Every piece of info you reveal and publish in public, such as user content (a photo, a question, a vote, a comment, a decision- “cake it”) becomes available to the public. The significance is that anyone could view, share, vote (in case of posting a question), respond and notify the app of any inappropriate content.
    li If you decide to remove any published content, it is possible that copies of it will remain in the possession of other users who previously copied or saved it.
    li Copies of removed content will remain with “<b>CAKE</b> platform”.

h2 What happens in case of an ownership change?
p In case we fully or partly sell <b>CAKE</b> to another party, your info, such as user name, photos, email address and any other user content that was gathered via the app may be included among the items transferred or sold to that party. You will continue being the owner to your personal details and the purchaser will be required to fulfill your privacy.

h2 Legal requests
p We might have the need to access your info, save it and share it as a response to a legal request, as long as we believe that we are compelled to do so. In addition, we are permitted to access your info, save it and share it if we believe it is necessary in order to identify, prevent and deal with a case of fraud or any other illegal activity, to protect you, us and others, prevent death or any other kind of damage. It is possible that the info will be transferred, saved or might be accessed during a long period subject to a legal or government request or during inquiries regarding condition and policy violations or any form of damage.


h2 Information storage and processing:
ul
    li Registration and use of the Service constitutes your consent to the info transfer to any place <b>CAKE</b> operates.
    li We use reasonable safety measures to ensure your information privacy and protection. Nevertheless, info privacy depends on your cooperation, such as not sharing your <b>CAKE</b> account with the public and using a strong and secure password. <b>CAKE</b> has no way of promising protection for the info you send <b>CAKE</b> or ensuring there will not be any possibility of accessing, revealing, damaging or changing it.

h2 Age restriction
p <b>CAKE</b> forbids the use of its app to anyone younger than 13. The service and its content are not intended for anyone under the age of 13. In case we find out we have collected details from a child under 13 years old without a parent’s consent, we will promptly delete his/hers account.

h2 Sites and other services:
p We are not responsible to any activity in other sites or services that our service is linked to. You must remember that when you use a link in order to pass from our service to another site or service then our privacy policy doesn’t apply to those sites/services. Moreover, you agree that we are not responsible and have no control over third parties that you authorize them to access your user's content. If you use a third-party site or entity, the responsibility is solely yours and not <b>CAKE</b>’s even if the link is part of our service to the other site or service. If you give a third party, site, or service access to your user details it is at your own risk.

h2 Changes to our privacy policy:
p2 <b>CAKE</b> may change or update its privacy policy from time to time; therefore it is recommended to occasionally read this policy.  We may provide information about modifying or updating the Privacy Policy in other ways. By using <b>CAKE</b> after such changes/updates will be proof to your consent to those changes.